body{
          font-family: 'Montserrat';
          width: 100%;
          background-color: #41403C;
          display: flex;
          justify-content: center;
          margin: 0;
          position: relative;
}
nav{

          top:0;
          background-color: #d08856;
          padding: .5em;
          z-index: 2;
          /* opacity: 0.1px; */
}
.icon_cart{
 float: right;
}
.logosk{
  width: 50px;
}


#btn_add{
  /* background-color: #41403C; */
  padding: 3em;
  width: 100%;
  color: #41403C;
}
.bghover3:hover{
  background-color: #aa210f !important;
}
.colorhover3:hover{
  color: #aa210f ;
}
.colorbrun{
  color: #41403C;
}
.color3{
  color: #aa210f;
}
.color2{
  color: #d08856;
}
.brunHover:hover{
  color: #d08856;
}
.bgbrun1{
  background-color: #41403C;
}
.bgrow{
  background-color: #dbdad8;
}